.contact-form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #cfcfcf;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    height: 150px;
}