<div class="all">
    <div class="course-conatiner">
        <div class="image">
            <img src="{{course.image}}" width="560" height="280">
        </div>
        <div>
            <h1 style="text-align: center; font-weight: bold;">{{course.name}}</h1>
        </div>
        <div class="course-details">
            <div style="margin: 0 10px;font-size: 17px;"><b>Author: </b> {{course.author}}</div>
            <div style="margin: 0 10px;font-size: 17px;"><b>Duration: </b> {{course.duration}} Hours</div>
            <div style="margin: 0 10px;font-size: 17px;"><b>Type: </b> {{course.type}}</div>
        </div>
        <div style="margin: 0 10px;">
            <h2 style="font-size: 25px;">Price: ${{course.price}}</h2>
        </div>
        <div style="margin: 20px 10px; ">
            <p style="font-size: 17px;">{{course.desc}}</p>
        </div>
    </div>
</div>