 * {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }

 html {
     scroll-behavior: smooth;
 }

 body {
     font-family: 'Poppins', sans-serif;
 }

 .container {

     position: relative;

 }

 .header {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 50%;
     text-align: center;
     background-color: #969696;
     color: white;
     font-size: 32px;
     margin: 160px 15px;
     padding: 70px;
     width: 90%;
     line-height: 1.5;
     animation: slide 0.8s ease-in-out infinite alternate;

 }
 
  @keyframes slide {
    from {
      left: 47%;
    }
    to {
      left: 48%;
    }
  }


 /* 
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.articles {
    padding-top: 30px;
    padding-bottom: 10px;
    position: relative;
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 35px;

}

.articles .box {
    box-shadow: 0 2px 15px rgb(0, 0, 0, 15%);
    counter-increment: courses;
    background-color: #fff;
    border-radius: 6px;
    transition: transform 0.5s, box-shadow 0.5s;
    position: relative;
}

.articles .box::before {
    content: '';
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    top: -3px;
    background-color: #55a5d1;
    position: absolute;
    width: 0;
    transition: 0.5s;
}

.articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0, 0, 0, 25%);
}
.articles .box:hover::before {
width: 100%;
border-radius: 6px;
}

img {
    width: 100%;
    max-width: 100%;
    height: 150px;
}

.articles .box .content {
    padding: 20px;
}

.articles .box .content h3 {
    margin: 0;
    padding-top: 10px;
    text-align: center;
}

.articles .box .content p {
    text-align: center;
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
}
.articles .box .info {
    padding: 20px;
    border-top: 1px solid #E6E6E7;
    display: flex;
    justify-content: space-between;
}

.articles .box .details {
    display: flex;
    justify-content: space-between;
}

.dots{
    background-image: url("../../assets/img/dots.png");
    height: 186px;
    width: 204px;
    background-repeat: no-repeat;
    position: absolute;
}
.dots-up{
    top: 160px;
    right: 0;
}
.dots-down{
    bottom: -100px;
    left: 0;
}*/